<!DOCTYPE html>
<html>
    <head>
        <link rel = "stylesheet" href = "//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
        <title>Scrabble Score</title>
    </head>
    <body>
        <div class="container">
            <h1>Welcome to the Scrabble Score Calculator!</h1>
            <form action="/score">
                <label for="word">Scrabble a word :</label>
                <input type="text" name="word" id="word">
                <button type="submit" class = "btn btn-success">Play!</button>
            </form>
        </div>
    </body>
</html>
