<!DOCTYPE html>
<html>
    <head>
        <title>Scrabble Score</title>
    </head>
    <body>
        <div class="container">
            <p> {{ input }} is worth {{ result }} points! </p>
        </div>
    </body>
</html>
