<!DOCTYPE html>
<html>
    <head>
        <link rel = "stylesheet" href = "//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
        <title>Scrabble Score</title>
    </head>
    <body>
        <div class="container">
            <h1 style="text-align : center; color : darkred">CONGRATULATIONS!</h1>
            <h2 style="text-align : center; color : steelblue"><strong>"{{ input }}"</strong> is worth <strong>{{ result }}</strong> points! </h2>

            <a href="/" style='text-align : center; color : darkgrey'><h3>Calculate another word!</h3></a>
        </div>
    </body>
</html>
